<div class="col-md-2 col-sm-3 col-xs-4 word-break">
	<%= link_to(edition, :class => 'thumbnail text-center') do %>
		<%= image_tag edition.coverart.url(:medium) %>
		<%= edition.title %> - <%= edition.platform.display_title %><br />
	<% end %>
</div>
