<% breadcrumb :editions %>
<div class="list-group">
	<% @editions.each do |edition| %>
		<%= render edition %>
	<% end %>
</div>
<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
<%= link_to("Add new edition", new_edition_path) %>
