<% breadcrumb :editions_to_review %>
<div class="row">
	<% @editions.each_with_index do |edition, i| %>
		<%- if i > 0 && ( (i % 6 == 0) || (i % 4 == 0) || (i % 3 == 0) )%>
			<div class="clearfix<%- if (i % 6 == 0) %> visible-md visible-lg<% end -%><%- if (i % 4 == 0) %> visible-sm<% end -%><%- if (i % 3 == 0) %> visible-xs<% end-%>"></div>
		<% end -%>
		<%= render edition %>
	<% end %>
</div>
<%= link_to("Add new edition", new_edition_path) %>

