<% breadcrumb :transform_edition, @edition %>

<%= form_for @edition, :url => do_transform_edition_path, :html => {:class => "form-horizontal"} do |f| %>
	<div class="col-md-3">
		<div class="bs-callout bs-callout-warning">
			<h4>Guidelines</h4>
			<p>Search for the edition you want to use as parent for this transformation. If the parent work gets empty after the transformation it will be automatically deleted</p>
			<p><strong>Do transform:</strong></p>
			<ul>
				<li>DLCs that don't work without the edition. Either in digital or physical distribution.</li>
			</ul>
			<p><strong>Don't transform:</strong></p>
			<ul>
				<li>Editions that already contain the DLCs inside, like some Game of the Year editions.</li>
			</ul>
		</div>
	</div>
	<div class="col-md-9">
		<div class="form-group">
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Combine">
			<span></span>
			<input type="reset" class="btn btn-default" value="Cancel">
		</div>
	</div>
<% end %>

