<% breadcrumb :edit_expansion, @expansion %>

<div class="container">
	<h1>Editing DLC/Expansion <%= @expansion.title %> <small><%= @edition.title %></small></h1>
	<hr>
	<%= render "expansion_form" %>
</div>
