<% breadcrumb :edit_expansion, @expansion %>
<div class="page-header">
	<h1>Editing DLC/Expansion <%= @expansion.title %> <small><%= @edition.title %></small></h1>
</div>
<div class="container">
	<%= render "expansion_form" %>
</div>
