<div class="container">
  <div class="row">
    <h1>About Us</h1>
    <div class="media">
      <div class="media-left">
        <a href="http://github.com/renatolond">
          <img class="media-object" src="http://www.gravatar.com/avatar/1bee60826d9f42ba63b358da6de4b16e?s=200" alt="Renato Lond">
        </a>
      </div>
      <div class="media-body">
        <div class="col-md-8">
          <h4 class="media-heading">Renato "Lond" Cerqueira</h4>
          Software developer, B. Sc. in Computer Science since 2011. Loves to track everything, from books to beers and uses a lot of sites to do that. IVGLib is his dream of having something like that for games.
        </div>
      </div>
    </div>
  </div>
</div>

