<div class="container">
	<div class="row">
		<h1>Internet Video Game Library's FAQ</h1>

		<p><h2>Why should I use Internet Video Game Library?</h2>
		Our intention with Internet Video Game Library is to build a website that is centered around the backlog of games you have and to help you to tackle that backlog. Since  started to show up, more games started to pile up in my backlog coming from Sales, Bundles and all kinds of stuff. It's hard to decide which game of your list should play next and my intention with IVGLib is to build a system which would help to keep track of the games you have while recommending which game you should play next.
		</p>

		<p><h2>And why should I put effort into helping Video Game Library?</h2>
		We want to be like TheGamesDB, Trakt.tv and other similar sites and very soon develop an open API to allow anyone to access our database of games for any purpose. We wish to be a complete database so that you are able to track all of your games and not just the trendy ones. We will not hide the games info behind a paywall or any nasty stuff like that.
		</p>

		<p><h2>If you are aiming at an open API, why is IVGLib code not open sourced?</h2>
		IVGLib code is not open-sourced <em>yet</em>, but it will be in the future. I still have to deal with some problems like code styling, security hardening and other stuff like this before open sourcing it, but if you are interest in contributing with it, get in touch with me at development (at) ivglib.com and we can talk about access to our repository :)</p>

		<p><h2>Another lousy bootstrap games database, is that right?</h2>
		So, we are a one-man-team at the moment and I'm very bad at layouts. My idea is that when we have a more stabilized set of features, we will try and get our own layout. But until then, just bootstrap for us. Sorry. We are not just that, though. We are aiming really high!</p>

		<p><h2>What's on IVGLib's roadmap?</h2>
		You can see which features we are working at (and ask for other features) by clicking in the "Need help?" link down here. We try to keep that updated as we go along. Some of our next ideas are there as well.
		</p>
	</div>
</div>
