= active_link_to root_path, class: "navbar-item" do
  %span.icon-text
    %span.icon
      %i.fa.fa-home
    %span
      Home
= active_link_to games_path, class: "navbar-item" do
  %span.icon-text
    %span.icon
      %i.fa.fa-gamepad
    %span
      Games
